.select {
  width: 100%;
  max-width: 300px; /* Ограничение ширины */
  border: 1px solid #007bff;
  border-radius: 5px;
  box-sizing: border-box; /* Учитывает padding и border в ширину элемента */
  background-color: #fff;
  font-size: 1rem;
  color: #333;

  &:focus {
    outline: none;
    border-color: #0056b3;
    background-color: #e9f5ff;
  }
}
