@use "@styles/styles" as *;

.input {
  &-search {
    @include cell;
    @include font-main-black;
    border-radius: 4px;
    border: 2px solid #124861;
    font-size: 25px;
    padding: 8px;
    flex-grow: 1;
  }

  &-registration-form {
    border: 2px solid #d0d3d3;
    box-shadow: none;
    padding: 12px 16px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.25 !important;
    outline: none;
    transition: border-color .3s ease 0ms, outline .3s ease 0ms, color .3s ease 0ms;

    &:focus {
      outline: #edac01 solid 1px;
    }
  }
}