@use "@styles/styles" as *;

.form-container {
  margin-bottom: 16px;
}

.search-form {
  @include grid;
  gap: 10px;
}

.genres-container {
  @include grid;
  margin-top: 16px;
  justify-content: space-between;
  gap: 10px;
}