@use '@styles/styles' as *;


.btn {
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;

  &-m {
    font-size: 16px !important;
    padding: 8px 14px !important;
    border: 2px solid;
    border-radius: 6px;
    font-weight: 500;
  }

  &-m-flex {
    width: 100%;
    font-weight: 500;
    padding: 12px 16px;
    border: 0;
    border-radius: 6px;
  }

  &-l-flex {
    width: 100%;
    font-size: 18px !important;
    padding: 16px !important;
    border: 2px solid;
    font-weight: 500;
    border-radius: 6px;
  }

  &-nav-login {
    padding: 8px 14px;
    margin-left: 20px !important;
    border: 2px solid;
    border-radius: 6px;
    font-weight: 500;
  }

  &-search {
    font-size: 16px !important;
    padding: 8px 14px !important;
    border: 2px solid;
    border-radius: 6px;
    font-weight: 500;
    line-height: 1.5 !important;
  }


  &-rs {
    border-radius: 32px !important;
    font-size: 12px !important;
    line-height: 12px !important;
    padding: 10px !important;
    text-transform: uppercase;
  }

  &:hover {
    filter: brightness(95%);
  }

  &-icon {
    vertical-align: middle;
    width: 24px;
    margin-left: 8px;

  }
}


.btn-blue {
  @include font-main;
  @include cell-shrink;
  background-color: $tertiary-bg;
  display: inline-block;
  border-color: $tertiary-bg;
  text-align: center;
  color: $primary-text !important;
}

.btn-grey {
  @include font-main-black;
  @include cell-shrink;
  background: #eff2f3;
  display: inline-block;
  border-color: #eff2f3;
  border-top-color: rgb(239, 242, 243);
  border-right-color: rgb(239, 242, 243);
  border-bottom-color: rgb(239, 242, 243);
  border-left-color: rgb(239, 242, 243);
  text-align: center;
  color: #2a2a2a !important;
}

.btn-white {
  @include font-main-black;
  @include cell-shrink;
  background: #fff;
  display: inline-block;
  border-color: #fff;
  text-align: center;
  color: #2a2a2a !important;
}

.btn-dark-blue {
  @include font-main;
  @include cell-shrink;
  background: #3b5998;
  display: inline-block;
  border-color: #3b5998;
  border-top-color: rgb(59, 89, 152);
  border-right-color: rgb(59, 89, 152);
  border-bottom-color: rgb(59, 89, 152);
  border-left-color: rgb(59, 89, 152);
  text-align: center;
  color: #fff !important;

}

.btn-red {
  @include font-main;
  @include cell-shrink;
  background-color: #F08080;
  display: inline-block;
  border-color: #F08080;
  text-align: center;
  color: $primary-text !important;
}


