@use "@styles/styles" as *;


.main-section {
  padding: 32px 0;
  background: #fff;

  &-tabs {
    background: #fff;
    border-bottom: 2px solid #e0e5e7;
    margin-left: 16px;
    padding-bottom: 12px;


    &-container {
      @include grid;
      @include content-thin;
      gap: 8px;
    }
  }

  &-content-container {
    @include content-thin;
    padding: 0 24px;
    min-height: 600px;

    &-date {
      @include font-main-black;
      background-color: #d3d3d3;
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;
      margin: 16px 0;
      padding: 12px;
      border-radius: 5px;
    }
  }
}