.single-article {
  background-color: gray;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: justify;


  &-title {
    background-color: gainsboro;
    border-radius: 5px;
    padding: 5px;
    font-size: 30px;
    cursor: pointer
  }

  &-title:hover {
    color: #00008b;
  }

  &-genres-container {
    background-color: gainsboro;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;

  }

  &-single-genre {
    display: inline-flex;
    font-size: 20px;
    border: 1px solid gray;
    padding: 5px;
    align-content: center;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
  }

  &-single-genre:first-child {
    margin-left: 0px;
  }

  &-single-genre:hover {
    color: #00008b;
  }

  &-content {
    margin-top: 10px;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;


  }
}
