@use "@styles/styles" as *;

.single-article {
  &-container {
    padding: 24px 0;
    border-top: 1px solid #e0e5e7;

    &:first-child {
      margin-top: 16px;
    }
  }


  &-title {
    @include font-main;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px

  }

  &-genres {
    @include font-main;
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $genres-text;
  }

  &-content {
    @include font-alt-black;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
    overflow-wrap: break-word;
  }

  &-button-container {
    @include grid;
    justify-content: end;
    margin-top: 8px;
  }
}