//Background-colors
$primary-header-bg: #083041;
$secondary-bg: green;
$tertiary-bg: #12a4e2;
$main-section-bg: #F8F9FA;

//Text colors
$primary-text: #fff;
$secondary-text: #2a2a2a;
$tertiary-text: #12a4e2;


//Lines
$darker-line: #2a2a2a;
$aside-hr: #dce2e4;